@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;

}
body{
    background-color: black;
    height: 200vh;
}
header{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 60px;
    border-bottom: #32b9cd solid 3px;
    
}
.containerHeader{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.logo{
    padding: 20px 30px;
    font-family: 'Roboto', sans-serif;
    color: #32b9cd;
}

.topNav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    
}
.topNav li{
    margin: 10px;
}
.topNav ul, li, a{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #e3b062;
    font-weight:bold;
}